/*import reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*components*/
/*footer*/
.contenedor {
  background-color: #191919;
  margin-top: 0px; }

.titulo {
  display: flex;
  justify-content: center; }

.redes {
  display: flex;
  justify-content: center; }

.redes {
  font-size: 22px; }

.titulo, .redes, .derechos {
  color: #191919; }

.derechos {
  display: flex;
  justify-content: center; }

.fb, .tw, .ig, .li, .yt {
  padding: 0 20px;
  margin-left: 20px; }

.fb {
  background-color: #0d00ff;
  padding: 8px;
  border-radius: 50px;
  color: #fff; }

.tw {
  background-color: #0095ff;
  padding: 8px;
  border-radius: 50px;
  color: #fff; }

.ig {
  background-color: #ff006f;
  padding: 8px;
  border-radius: 50px;
  color: #fff; }

.li {
  background-color: #0011ff;
  padding: 8px;
  border-radius: 50px;
  color: #fff; }

.yt {
  background-color: red;
  padding: 8px;
  border-radius: 50px;
  color: #fff; }

/*import layout*/
/*header*/
.container-fluid img {
  width: 50px; }

/*main*/
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px; }

.card {
  width: 300px;
  display: flex;
  justify-content: center;
  display: inline-block;
  align-items: center;
  margin-left: 250px;
  margin-top: 50px;
  margin-bottom: 100px; }

/*productos*/
/*main*/
.init {
  height: 60vh;
  width: 100%; }
  .init .img-fluid {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .init .init__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px;
    position: relative; }

/*informacion*/
/*main*/
.info {
  display: flex; }
  .info .info__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .info .info__content .info__title {
      align-items: center; }
    .info .info__content .info__img {
      width: 900px; }
    .info .info__content .info__p {
      font-size: 22px;
      margin-left: 150px;
      margin-right: 150px; }

.fotos__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 600px;
  width: 600px;
  height: 430px; }

.fotos__title {
  display: flex;
  align-items: center;
  justify-content: center; }

.fotos__img {
  width: 300px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease; }

.fotos__img:hover {
  cursor: crosshair;
  width: 400px;
  opacity: 1;
  filter: contrast(120%); }

.form-label {
  margin-top: 80px;
  margin-bottom: 80px; }

.btn {
  margin-top: 20px; }

@media screen and (max-width: 768px) {
  .card {
    margin-left: 100px; } }

@media screen and (max-width: 480px) {
  .card {
    width: 250px;
    margin-left: 120px; }
  .card-title {
    font-size: 20px; }
  .derechos {
    font-size: 11px; }
  .redes {
    font-size: 11px; }
  .titulo {
    font-size: 11px;
    margin-left: 20px; } }

@media screen and (max-width: 320px) {
  .card {
    width: 200px;
    margin-left: 60px; }
  .card-title {
    font-size: 18px; }
  .derechos {
    font-size: 10.5px; }
  .redes {
    font-size: 11px; }
  .titulo {
    font-size: 7px;
    margin-left: 20px; } }
