*{padding: 0;
    margin: 0;
    box-sizing: border-box;}
    
    /*header*/
    .container-fluid img{
        width: 50px;}
        
    
    
    
    
    
    /*main*/
    
    .title{display: flex;
        justify-content: center;
    padding-top: 100px;}
    
    .card{width: 300px; 
        
        display: flex;
        
        
        justify-content: center;
    display: inline-block;
    align-items: center;
    margin-left:250px;
    margin-top: 50px;
    margin-bottom: 100px;}
    
    
    .card img{
        width: 100%;}
    
    
    /*footer*/
    .contenedor{background-color: black;
    margin-top: 0px;}
    
        .titulo{display: flex;
            justify-content: center;}
    
        .redes{display: flex;
            justify-content: center;}
        
        .redes{font-size: 22px;}
    
        .titulo, .redes , .derechos{color:black}
    
        .derechos{display: flex;
            justify-content: center;}
    
        .fb , .tw , .ig , .li , .yt{
            padding: 0 20px;
        margin-left: 20px;}
    
            .fb{
                background-color: rgb(13, 0, 255);
                padding: 8px;
                border-radius: 50px;
                color: white;}
        
                .tw{
                    background-color: rgb(0, 149, 255);
                    padding: 8px;
                    border-radius: 50px;
                    color: white;}
        
                    .ig{
                        background-color: rgb(255, 0, 111);
                        padding: 8px;
                        border-radius: 50px;
                        color: white;}
        
                        .li{
                            background-color: rgb(0, 17, 255);
                            padding: 8px;
                            border-radius: 50px;
                            color: white;}
        
                            .yt{
                                background-color: rgb(255, 0, 0);
                                padding: 8px;
                                border-radius: 50px;
                                color: white;}
    
    
    
    
    /*Productos*/
    /*main*/
    
    .init{
        height: 60vh;
        width: 100%;}
    
    .init img{
        height: 100%;
        width: 100%;
        object-fit: cover;}
    
    .init h2{
        display: flex;
        justify-content: center;
        margin-bottom: 300px;}
    
    
    
    
    
    /*Informacion*/
    
    /*main*/
    
    .hero-contenedor{display: flex;
    display: inline-block;
    align-items: center;
    justify-content: center;}
    
    .hero-contenedor h2, p{
        align-items: center;}
    
    .hero-contenedor{height: 60vh;
        width: 100%;}
    
    
    .hero-contenedor img{
        height: 100%;
        width: 100%;
        object-fit: cover;}
    
    
    .marcas-contenedor{
        display: flex;
        display:inline-block
        }
    
    .col img{
        width:300px ;
    }
    
    .marcas-contenedor{
        display: inline-block;
        align-items: center;}
    
    
    .row{margin: 0;}
    
    .carousel-item{
        transition: 1.5s;} 
    
    .for{margin-bottom: 200px;}
    
    
    
    
    @media screen and (max-width: 768px){
    
    
        .card{width: 300px; 
        
        
            
            
            justify-content:center;
        display:inline-block;
        align-items: center;
        margin-left:225px;
        margin-top: 50px;
        ;}
    
    .contenedor{margin-top: 0;}
    
    
    
    
    
    
    
    
    
    }
    
    @media screen and (max-width: 480px){
    
    
    
        .card{width: 300px; 
        
        
            
            
            justify-content:center;
        display:inline-block;
        align-items: center;
        margin-left:90px;
        margin-top: 50px;
        ;}
        .derechos{font-size: 12px;}
    
        .redes{font-size: 12px;
            padding: 0px 20px;}
    
        .titulo{font-size: 5px;}
    }
    
    
    
    @media screen and (max-width: 320px){
    
    
        .card{width: 300px; 
        
        
            
            
            justify-content:center;
        display:inline-block;
        align-items: center;
        margin-left:0px;
        margin-top: 50px;
        ;}
    
        .fb , .tw , .ig , .li , .yt{
            margin-left: 5px;}
    
            .redes{font-size: 15px;
            padding: 0px 20px;}
    
    
            .derechos{font-size: 12px;}
    
    
    
    
    
    }