/*informacion*/

/*main*/

.info{display: flex;}

.info__content{
display: inline-block;
align-items: center;
justify-content: center;}

.info__title{align-items: center;}

.info__img{width: 900px;}

.info__p{font-size: 22px;}



.fotos__title{display: flex;
    align-items: center;
    justify-content: center;}


.fotos__content{display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
    width: 600px;
    height: 430px;}

.fotos__img{
    width: 300px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;}

.fotos__img:hover{
    cursor: crosshair;
    width: 400px;
    opacity: 1;
    filter: contrast(120%);}