@media screen and(max-width: 768px){


    .card{margin-left: 100px;}
    
    
    
    
    
    
    
    
    
    
    
    
    
    }
    
    
    @media screen and (max-width: 480px) {
        
    .card{width: 250px;
        margin-left: 120px;}
    
    .card-title{font-size: 20px;}
    
    
    .derechos{font-size: 11px;}
    
    .redes{font-size: 11px;}
    
    .titulo{font-size: 11px;
    margin-left: 20px;}
    
    }
    
    @media screen and (max-width: 320px) {
        
        .card{width: 200px;
            margin-left: 60px;}
        
        .card-title{font-size: 18px;}
        
        
        .derechos{font-size: 10.5px;}
        
        .redes{font-size: 11px;}
        
        .titulo{font-size: 7px;
        margin-left: 20px;}

        
        
        }