@media only screen and (min-width: 1024px) {
    .card {
      width: 300px;
      margin-left: 800px; }
  
    .card-title {
      font-size: 20px; }
  
  
  
  .fotos__content {width: 600px;
    height: 430px;
    padding-left: 600px;}
  
  .fotos__title {
    font-size: 22px;}
  
  .fotos__img {width: 300px;
  }
  
  .fotos__img:hover {width: 400px;
  }
  
  .info__title{font-size: 60px;}
  
  .info__p{font-size: 30px;
    line-height: 60px;}
  
    .info__button a:hover {cursor: crosshair;
      width: 150px;
      opacity: 2;
      filter: contrast(120%);}
  }
  
  @media only screen and (min-width: 768px) {
  
  .card {margin-left: 235px; }
  
  
  .fotos__img{width: 150px;}
  
  
  .fotos__content {margin-left: 250px;
    width: 300px;
    height: 330px; }
  
  .fotos__title {font-size: 30px;}
  
  .fotos__img {width: 200px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease; }
  
    .fotos__img:hover {width: 400px;}
  
    .info__title{font-size: 30px;}
  
    .info__p{font-size: 30px;
      line-height: 60px;}
    }