@media screen and (min-width:480px) (max-width: 768px){


    .card{width: 300px; 
    
    
        
        
        justify-content:center;
    display:inline-block;
    align-items: center;
    margin-left:225px;
    margin-top: 50px;
    ;}

.contenedor{margin-top: 0;}









}

@media screen and (max-width: 480px){



    .card{width: 300px; 
    
    
        
        
        justify-content:center;
    display:inline-block;
    align-items: center;
    margin-left:90px;
    margin-top: 50px;
    ;}
    .derechos{font-size: 12px;}

    .redes{font-size: 12px;
        padding: 0px 20px;}

    .titulo{font-size: 5px;}
}

@media screen and (max-width: 320px){


    .card{width: 300px; 
    
    
        
        
        justify-content:center;
    display:inline-block;
    align-items: center;
    margin-left:0px;
    margin-top: 50px;
    ;}

    .fb , .tw , .ig , .li , .yt{
        margin-left: 5px;}

        .redes{font-size: 15px;
        padding: 0px 20px;}


        .derechos{font-size: 12px;}





}