/*productos*/
/*main*/

.init{
    height: 60vh;
    width: 100%;


    .img-fluid{height: 100%;
    width: 100%;
    object-fit: cover;}


.init__title{display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px;
position: relative;} 
}



.card-title{font-size: 18px;}